.list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    border-radius: 4px;
    padding: 8px 16px;
    line-height: 16px;
    height: 32px;
    background: #eee;
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }

    &_selected {
      font-weight: bold;
      background: lightblue;
    }
  }
}
