.select {
  position: relative;

  &__display {
    cursor: pointer;
    border: 1px solid silver;
    border-radius: 4px;
    padding: 8px 32px 8px 16px;
    height: 32px;
    line-height: 16px;
    position: relative;
    box-shadow: none;
    outline: none;
    background: #fff;

    &:focus {
      border-color: lightskyblue;
    }

    &:after {
      content: '';
      display: block;
      border-width: 1px 1px 0px 0px;
      border-style: solid;
      border-color: lightskyblue;
      position: absolute;
      top: 50%;
      right: 16px;
      width: 5px;
      height: 5px;
      transform: translate(50%, -75%) rotate(135deg);
    }

    &_expanded {
      &:after {
        transform: translate(50%, -25%) rotate(-45deg);
      }
    }
  }

  &__options {
    display: none;
    position: absolute;
    top: 0;
    z-index: 900;
    width: 100%;
    border: 1px solid silver;
    max-height: 160px;
    overflow: auto;
    background: #fff;

    &_expanded {
      display: block;
      border-radius: 4px;
    }
  }

  &__option {
    cursor: pointer;
    padding: 8px 32px 8px 16px;
    height: 32px;
    line-height: 16px;
    box-shadow: none;
    outline: none;

    &_targeted {
      background: lightblue;
    }
  }
}
