.app {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  max-width: 1024px;
  padding-top: 32px;
  padding-bottom: 32px;

  &__block {
      flex: 0 0 50%;
      padding: 16px;

    @media (max-width: 760px) {
      flex: 0 0 100%;
    }
  }
}
